html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-size: .875rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1.5rem;
}

.columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 1.5rem;
  margin-top: 0;
  font-size: .875rem;
  border-left: solid .5px #000;
  border-right: solid .5px #000;
}

.columns div {
  width: 25%;
  padding: .75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: solid .5px #000;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 100%;
}

div img {
  width: 100px;
}

h3 {
  font-weight: bold;
  margin: 0;
}

p {
  margin: 0;
  padding-bottom: 1.5rem;
  flex-grow: 1;
}

.name {
  font-style: italic;
}

.quest {
  background-color: #e2e2e2;
  padding: 1.5rem;
}

.dino {
  background-color: #ccc;
  padding: 1.5rem;
}

.dragon {
  background-color: #aaa;
  padding: 1.5rem;
}

.laser {
  background-color: #999;
  padding: 1.5rem;
}

.btn-small {
  display: block;
  text-decoration: none;
  background-color: #333;
  padding: .5rem;
  margin-top: .75rem;
  border-radius: 5px;
  color: #fff;
  font-size: .875rem;
}

.btn {
  display: block;
  text-decoration: none;
  background-color: #333;
  padding: .5rem;
  margin-top: .75rem;
  border-radius: 5px;
  color: #fff;
  font-size: .875rem;
}

.columns .card-btn {
  width: 100%;
  padding: 0;
  border: 0;
}

.btn:hover, .btn-small:hover {
  background-color: #000;
}
